# Dependency directories
node_modules/
front/node_modules/
back/node_modules/

# Local env files
.env
back/.env

# Build outputs
dist/
front/dist/
build/

# IDE/Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
